* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
    color: rgb(53, 33, 13);
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background: #cacaca;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgba(65, 74, 75, 0.447);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    background-color: #f4f7f5ea;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

li {
    list-style: none;
    padding: 12px;
    margin-bottom: 10px;
    background: #a5ddbc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.actions button {
    margin-left: 5px;
}